doctype html

html
    head
        meta(charset="UTF-8")
        title Авторизация
        link(rel="stylesheet", href="index.scss")
    body
        main.app
            form.auth-form#login-form
                h1.title Вход
                label.label(for="login") Логин
                input.input(type="text", id="login", name="login")
                label.label(for="password") Пароль
                input.input(type="password", id="password", name="password")
                div.gap
                button.submit-button(type="submit") Авторизоваться
                a.auth-mode-switch-link(href="../signup/index.pug") Нет аккаунта?
        script(src='./index.js')
