doctype html

html
    head
        meta(charset="UTF-8")
        title Настройки пользователя
        link(rel="stylesheet", href="./index.scss")
    body
        main.app
            aside.aside-panel
                button.back-button(type="button") &#8592;

            form.user-settings#user-settings
                div.avatar

                label.label(for="email") Почта
                    input.input(type="email", id="email", name="email", value="pochta@yandex.ru")

                label.label(for="login") Логин
                    input.input(type="text", id="login", name="login", value="ivanivanov")

                label.label(for="first_name") Имя
                    input.input(type="text", id="first_name", name="first_name", value="Иван")

                label.label(for="second_name") Фамилия
                    input.input(type="text", id="second_name", name="second_name", value="Иванов")

                label.label(for="display_name") Имя в чате
                    input.input(type="text", id="display_name", name="display_name", value="Иван")

                label.label(for="phone") Телефон
                    input.input(type="tel", id="phone", name="phone", value="+7 (909) 967 3030")

                button.submit-button(type="submit") Сохранить
        script(src='./index.js')
