@import './colors';

.auth-form {
  width: 340px;
  min-height: 450px;
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-flow: column;
  background: $color_white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  .title {
    align-self: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
    color: $color_black;
  }

  .label {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 9px;
    line-height: 9px;
    color: $color-grey5;
  }

  .input {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    color: $color_black;
    border: none;
    border-bottom: 1px solid $color_blue;
    outline: none;

    &:focus {
      border-bottom-style: dashed;
    }
  }

  .gap {
    flex: 1;
    min-height: 40px;
  }

  .submit-button {
    min-height: 37px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 13px;
    background-color: $color_blue;
    color: $color_white;
    border-radius: 8px;
    outline: none;
    &:focus {
      box-shadow: 0px 0px 2px 2px $color_grey5;
    }
  }

  .auth-mode-switch-link {
    align-self: center;
    font-weight: 500;
    margin-top: 14px;
    font-size: 11px;
    line-height: 11px;
    color: $color_blue;
    outline: none;
    &:focus {
      box-shadow: 0px 0px 2px 2px $color_grey5;
    }
  }
}
