@import './colors';

.auth-form {
  display: flex;
  flex-flow: column;
  width: 340px;
  min-height: 450px;
  padding: 50px 30px 30px 30px;
  background: $color_white;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

  .title {
    align-self: center;
    margin-bottom: 40px;
    color: $color_black;
    font-size: 20px;
    line-height: 20px;
  }

  .label {
    margin-top: 16px;
    margin-bottom: 8px;
    color: $color-grey5;
    font-size: 9px;
    line-height: 9px;
  }

  .input {
    color: $color_black;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    line-height: 13px;
    border-bottom: 1px solid $color_blue;

    &:focus {
      border-bottom-style: dashed;
    }
  }

  .gap {
    flex: 1;
    min-height: 40px;
  }

  .auth-mode-switch-link {
    align-self: center;
    margin-top: 14px;
    color: $color_blue;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    outline: none;

    &:focus {
      box-shadow: 0 0 2px 2px $color_grey5;
    }
  }
}

// TODO check
.submit-button {
  min-width: 280px;
  min-height: 37px;
  color: $color_white;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  line-height: 13px;
  background-color: $color_blue;
  border-radius: 8px;

  &:focus {
    box-shadow: 0 0 2px 2px $color_grey5;
  }
}
