$color_white: #FFFFFF;
$color_grey1: #FBFBFB;
$color_grey2: #F8F8F8;
$color_grey3: #EFEFEF;
$color_grey4: #EAEAEA;
$color_grey5: #999999;
$color_black: #1E1E1E;
$color_total_black: #000000;
$color_blue: #3369F3;
$color_red: #FF0000;
$color_light_blue: #E4EDFD;
