$color_white: #fff;
$color_grey1: #fbfbfb;
$color_grey2: #f8f8f8;
$color_grey3: #efefef;
$color_grey4: #eaeaea;
$color_grey5: #999;
$color_black: #1e1e1e;
$color_total_black: #000;
$color_blue: #3369f3;
$color_red: #ff2f2f;
$color_light_blue: #e4edfd;
