@import '../../common/styles/colors';

.error-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 500;
}

.code {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
}

.label {
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 20px;
}

.link {
  color: $color_blue;
  font-size: 11px;
  line-height: 11px;
}
