@import url('https://rsms.me/inter/inter.css');

html {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
