doctype html

include ../../common/mockData/chatListData.pug
include ../../common/mixins/chatList.pug

html
    head
        meta(charset="UTF-8")
        title Список чатов
        link(rel="stylesheet", href="./index.scss")
    body
        main.app
            nav.navigation
                a(href="#").profile-link Профиль &rang;
                button.search-button &#128269; Поиск
                +chatList(chatListData)
            div.active-chat активный чат
