doctype html

html
    head
        meta(charset="UTF-8")
        title= `Ошибка ${data.code}`
        link(rel="stylesheet", href="../../errorPages/index.scss")
    body
        main.app
            div.error-page
                span.code= data.code
                span.label= data.label
                a.link(href="../chatList/index.pug") Назад к чатам
