@import '../../styles/colors';

.message-sending-form {
  display: flex;
  height: 54px;
  padding: 11px 0;
  border-top: 1px solid $color_grey4;

  .message-input {
    flex: 1;
    padding: 0 20px;
    background-color: $color_grey3;
    border-radius: 16px;

    &::placeholder {
      color: $color_grey5;
    }
  }

  .message-sending-button {
    width: 28px;
    margin-left: 10px;
    color: $color_white;
    background-color: $color_blue;
    border-radius: 50%;
  }
}
