mixin chatList(chats)
    div.chats
        each chat in chats
            div.chat
                div.chat__avatar
                div.chat__content
                    span.chat__name= chat.name
                    span.chat__message= chat.message
                div.chat__additional-content
                    span.chat__time= chat.time
                    if chat.notificationsNumber
                        span.chat__counter= chat.notificationsNumber
