doctype html

html
    head
        meta(charset="UTF-8")
        title Приложение "Чат". Прототипы страниц
        link(rel="stylesheet", href="index.scss")
    body
        h1.title  Приложение "Чат". Прототипы страниц
        ul
            li.page-link
                a(href="./pages/login/index.pug") Логин
            li.page-link
                a(href="./pages/signup/index.pug") Регистрация
            li.page-link
                a(href="./pages/chatList/index.pug") Список чатов
            li.page-link
                a(href="./pages/activeChat/index.pug") Лента переписки

