doctype html

html
    head
        meta(charset="UTF-8")
        title Приложение "Чат". Прототипы страниц
        link(rel="stylesheet", href="index.scss")
    body
        h1.title  Приложение "Чат". Прототипы страниц
        ul
            li.page-link
                a(href="./pages/login/index.pug") Логин
            li.page-link
                a(href="./sections/login/index.html") Логин (спринт 2)
            li.page-link
                a(href="./pages/signup/index.pug") Регистрация
            li.page-link
                a(href="./sections/signup/index.html") Регистрация (спринт 2)
            li.page-link
                a(href="./pages/chatList/index.pug") Список чатов
            li.page-link
                a(href="./pages/activeChat/index.pug") Лента переписки
            li.page-link
                a(href="./pages/userSettings/index.pug") Настройки пользователя
            li.page-link
                a(href="./pages/avatarChange/index.pug") Изменение аватара
            li.page-link
                a(href="./pages/passwordChange/index.pug") Изменение пароля
            li.page-link
                a(href="./pages/404/index.pug") Страница 404
            li.page-link
                a(href="./pages/500/index.pug") Страница 5**
