-
    let chatListData = [
        {
            name: 'Андрей',
            message: 'Изображение',
            time: '10:49',
            notificationsNumber: 2,
        },
        {
            name: 'Киноклуб',
            message: 'Вы: стикер',
            time: '12:00',
            notificationsNumber: 0,
        },
        {
            name: 'Илья',
            message: 'Друзья, у меня для вас особенный выпуск новостей!...',
            time: '15:12',
            notificationsNumber: 4,
        },
        {
            name: 'Вадим',
            message: 'Вы: Круто!',
            time: 'Пт',
            notificationsNumber: 0,
        },
        {
            name: 'тет-а-теты',
            message: 'И Human Interface Guidelines и Material Design рекомендуют...',
            time: 'Ср',
            notificationsNumber: 0,
        },
        {
            name: '1, 2, 3',
            message: 'Миллионы россиян ежедневно проводят десятки часов свое...',
            time: 'Пн',
            notificationsNumber: 0,
        },
        {
            name: 'Design Destroyer',
            message: 'В 2008 году художник Jon Rafman начал собирать...',
            time: 'Пн',
            notificationsNumber: 0,
        },
        {
            name: 'Day.',
            message: 'Так увлёкся работой по курсу, что совсем забыл его анонсир...',
            time: '1 Мая 2020',
            notificationsNumber: 0,
        },
        {
            name: 'Стас Рогозин',
            message: 'Можно или сегодня или завтра вечером.',
            time: '12 Апр 2020',
            notificationsNumber: 0,
        },
        {
            name: 'Олег',
            message: 'Съешь еще этих мягких французских булок, да выпей чаю.',
            time: '1 Мар 2020',
            notificationsNumber: 0,
        }
    ];
